.content-wrapper-sp .content-header {
    padding: 4px 6px 0 6px;
}

.content-wrapper-sp .content {
    padding: 10px 4px 0 4px;
}

.content-wrapper-sp .box-header {
	padding: 10px 4px 10px 4px;
}

.content-wrapper-sp .box-body {
	padding: 10px 4px 10px 4px;
}