/****************************************************************************************
**** STYLE FOR COMMON USING
****************************************************************************************/
.content-wrapper-sp .content-header {
    padding: 4px 6px 0 6px;
}

.content-wrapper-sp .content {
    padding: 10px 4px 0 4px;
}

.content-wrapper-sp .box-header {
	padding: 10px 4px 10px 4px;
}

.content-wrapper-sp .box-body {
	padding: 10px 4px 10px 4px;
}

.content-wrapper-sp .alert {
	padding: 6px 4px 6px 4px;
}

.content-wrapper-sp .pagination-bottom {
	margin: 0;
}
/****************************************************************************************
**** COPY FROM box-body
****************************************************************************************/
.content-wrapper-sp .box-body-notool {
	border-radius: 0 0 3px 3px; padding: 10px 4px 10px 4px;
}

.content-wrapper-sp .box-body-notool::before,
.content-wrapper-sp .box-body-notool::after {
	clear: both; content: " "; display: table;
}
/****************************************************************************************
**** COPY FROM widget-user-2
****************************************************************************************/
.content-wrapper-sp .widget-detail {
	border-top: none;
}

.content-wrapper-sp .widget-detail .widget-detail-header {
	border-top-left-radius: 3px; border-top-right-radius: 3px; padding: 6px 4px 6px 4px;
}

.content-wrapper-sp .widget-detail .widget-detail-title {
	font-size: 18px; font-weight: 300; margin-bottom: 2px; margin-top: 2px;
}